.App {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #888;
    padding: 25px;
}

.title {
    margin-top: 0;
}

#film {
    display: block;
    margin: 12px 0;
}

.btn-form-submit {
    margin: 12px 0;
}

.success,
.fail {
    text-align: center;
    background: #666;
    padding: 22px;
    color: #fff;
}